# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset cache
tokenized_wikitext/

# IDE and editor directories
.vscode/
.idea/

# Saved models
*.pt

/temp_models
/singlora_test_output
/lora_test_output

docs.md

/benchmarks

/results